body {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/302/693/318/musical-notes-background-wallpaper-preview.jpg");
  background-color: #487d89;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1 {
  font-family: "sans-serif";
  font-style: italic;
  color: #a7b372;
  font-size: 50px;
  text-align: center;
}
h2 {
  font-style: italic;
}
p {
  font-size: 20px;
  font-family: "sans-serif";
  font-style: italic;
  color: black;
  width: 400px;
  text-align: justify;
}

ul li {
  list-style: none;
}

.titulo {
  font-size: 35px;
  color: rgb(0, 0, 0);
}
.tituloDos {
  font-size: 35px;
  color: rgb(255, 255, 255);
}

.tituloLista {
  font-family: serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}

.distinto {
  background-color: wheat;
}

.inline1 {
  font-weight: bold;
}
